*{
    margin: 0;
    padding: 0;
}

.container{
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1vmin;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1vmin;
   
}


body{
    background-color: blueviolet;
    color: black;
    text-align: center;
}


.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 8vmin;
    color: rgb(233, 27, 54);
    border: none;
    background-color: aliceblue;
}
#reset{
    padding: 1rem;
    font-size: medium;
    border-radius: 1rem;
    background-color: black;
    color: white;
}
#new-btn{
    padding: 1rem;
    font-size: medium;
    border-radius: 1rem;
    background-color: black;
    color: white;
}

#msg{
    color: rgb(183, 226, 10);
    font-size: 10vmin;
    padding: 25px;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}